:root {
  --darker-color: #2B2E3C;
  --dark-color: #83909F;
  --light-color: #94A2AD;
  --neutral-color: white;
  --lighter-color: #E0E3E7;
  --contrast-color: #fbe18b;
  --primary-font: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-color);
  font-family: var(--primary-font);
}

/* start header */
header {
  background-color: var(--darker-color);
  color: var(--lighter-color);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 0;
}

header h1 {
  letter-spacing: 7px;
  color: var(--contrast-color);
}

header a {
  text-decoration: none;
  color: var(--lighter-color);
  padding: 10px 15px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a:hover {
  color: var(--contrast-color);
}
/* end header */

/* start hero */
.hero {
  background-image: url("../images/hero.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
  background-color: var(--neutral-color);
  font-size: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: var(--lighter-color);
}

/* .hero p {
  color: var(--lighter-color);
} */
/* end hero */

