:root {
    --darker-color: #2B2E3C;
    --dark-color: #83909F;
    --light-color: #94A2AD;
    --lighter-color: #E0E3E7;
    --contrast-color: #fbe18b;
    --primary-font: Helvetica, Arial, sans-serif;
}

